<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guide</title>
</head>
<body>
<style>
    .large-text {
        font-size: 24px;
    }
    .centered-text {
        text-align: center;
    }
</style>

<div class="large-text">
    <style>
    .large-text {
        font-size: 24px;
    }
    .centered-text {
        text-align: center;
    }
    </style>
    <h1>Инструкция</h1>
    <p>Console API Done!
        Let's Start!
        Welcome to Raf Console Application!

        Hi guys and As-Salamu Aleykum!
        Try to deploy my application on Heroku!
        Follow the instructions and do everything carefully!
    </p>
</div>
</body>
</html>